/.dist
/.vscode
/bill_authentication.csv
/Desion_Tree_Regression.csv
/Extended_Employee_Performance_and_Productivity_Data.csv
/f1.ipynb
/f2.ipynb
/f3.ipynb
/f5.ipynb
/f6.ipynb
/file6.ipynb
/Ice Cream Sales - temperatures.csv
/Ice_cream selling data.csv
/loan_approval_dataset.csv
/loan_data.csv
/SalaryMulti.csv
/Student_Performance.csv